*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand' , sans-serif;
  }
 html,body,#particles-js {
    font-family: Raleway;
    overflow:hidden;
    width:100%;
    height:100%;
    position:absolute;
    
    background: linear-gradient(150deg, rgba(91,10,238,1) 0%, rgba(131,79,226,0.9781553398058253) 35%, rgba(16,197,233,1) 85%);
    
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  

  .logo {
    width: 90px;
    cursor: pointer;
  }
  
  body::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  h2{
     font-size: 60px;
  }
  .navbar{
    width: 85%;
    margin:auto;
    padding: 35px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    width: 120px;
    cursor: pointer;
  }
  .navbar .nav-menu li{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;
    margin-top: 30px;
  }
  .navbar .nav-menu li a{
    text-decoration: none;
    color: #fff;
    text-transform:capitalize;

  }
  .navbar .nav-menu li::after{
    content: " ";
    height: 3px;
    width: 0%;
    border-radius: 20px;
    background:rgba(16,197,233,0.50);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;
  }
  .navbar ul li:hover::after{
    width:100%;
  }
  .hamburger {
    display: none;
}

/* Inside the Media Query.*/

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
  .container  {
    min-width:100%;
    min-height:100%;
    position:absolute;
  }
  #blurCanvasTop{
    left:0%;
    top:0%;
    position:absolute;
  }
  #blurCanvasBottom{
    left:50%;
    top:0;
    position:absolute;
  }
  
  .blur {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
  }
  .blurTop{
    left:40%;
    top:-110%;
    transform:rotate(20deg);
    transform-origin: 0 100%;
  }
  .blurBottom{
    left:-60%;
    top:100%;
    transform:rotate(20deg);
    transform-origin: 100% 0%;
  }
  .text-box{

    margin-top: 5%;
    font-size:17px;
    letter-spacing: 1;
  font-family: 'arvo',serif;
  }
  
  .text-box h1{
  
    font-size: 75px;
    line-height:160px;
    font-family: 'arvo', serif;
  color:#fff;
  text-align: center;
  margin: auto;
  }
  .text-box p{
    text-decoration: none;
    font-family: 'arvo',serif;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin:auto;
  }
  
  .auto-input{
  font-family: 'arvo',sans-serif;
  text-decoration: none;}
  .user-img{
    width: 540px;
    position: absolute;
    right:8%;
    bottom: 0;
  }
  :active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  
  .btn-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto 35px;
  }
  .btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
  }
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }
  .btn-3 {
    padding: 5px;
  }
  .btn-3 span {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 56, 55);
  }
  .btn-3::before,
  .btn-3::after {
    background: transparent;
    z-index: 2;
  }
  .btn.hover-border-1::before,
.btn.hover-border-1::after {
  width: 10%; height: 25%;
  transition: 0.35s;
}
.btn.hover-border-1::before {
  top: 0; left: 0;
  border-left: 1px solid rgb(28, 31, 30);
  border-top: 1px solid rgb(28, 31, 30);
}
.btn.hover-border-1::after {
  bottom: 0; right: 0;
  border-right: 1px solid rgb(28, 31, 30);
  border-bottom: 1px solid rgb(28, 31, 30);
}
.btn.hover-border-1:hover::before,
.btn.hover-border-1:hover::after {
  width: 99%;
  height: 98%;
}
  