*{
                padding:0px;
                margin:0px;
                font-family: 'Quicksand' , sans-serif;
            }
            html,body {
              font-family: Raleway, sans-serif;
              overflow:hidden;
              width:100%;
              height:100%;
              position:absolute;
              background: linear-gradient(140deg, rgba(131,79,226,0.9781553398058253) 45%, rgba(16,197,233,1) 85%);
            }
            header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 30px 10%;
              background-color: #24252a;
            }
            
            .logo {
              width: 90px;
              cursor: pointer;
            }
            
            body::-webkit-scrollbar {
              width: 0.50rem;
            }
            
            body::-webkit-scrollbar-track {
              background: #1e1e24;
            }
            
            body::-webkit-scrollbar-thumb {
              background: #6649b8;
            }
            h2{
               font-size: 60px;
            }
            .navbar{
              width: 85%;
              margin:auto;
              padding: 35px 0 ;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            .logo{
              width: 120px;
              cursor: pointer;
            }
            .navbar ul li{
              list-style: none;
              display: inline-block;
              margin: 0 40px;
              position: relative;
              margin-top: 30px;
            }
            .navbar ul li a{
              text-decoration: none;
              color: #fff;
              text-transform:capitalize;
          
            }
            .navbar ul li::after{
              content: " ";
              height: 3px;
              width: 0%;
              background:rgba(112, 70, 190, 0.9);
              position: absolute;
              left: 0;
              bottom: -10px;
              transition:0.5s;
            }
            .navbar ul li:hover::after{
              width:100%;
            }
            .container{
              
              padding-top: 55px;
              padding-bottom: 55px;
              padding-left: 45px;
              padding-right: 45px;
                width:460px;
                height:460px;
                margin: auto auto;
                margin-top: 100px;
                background: rgba(255, 255, 255, 0.20);
                box-shadow: 0 0 19px 0 rgba(113, 111, 111, 0.9);
                border-radius: 15%;
                backdrop-filter: blur(2.7px);
                -webkit-backdrop-filter: blur(2.7px);
            }
            .top-container{
                width:200px;
                height:180px;
                background:white;
                margin: auto auto;
                background:#636361;
                padding-top:10px;
                border-radius: 30px;
            }
            .top-inner-container{
                width:180px;
                height:170px;
                background:white;
                margin: auto auto;
                border-radius: 30px;
            }
            h1{
              
              font-family: Raleway,sans-serif;
                color:#dadadb;
                text-align:center;
                padding:20px;
            }
            .time-container{
                display:flex;
                flex-wrap:no-wrap;
                flex-direction:row;
                justify-content:center;
                width:100%;
            }
            .session-time-container{
                width:100%;
                height:80px;
                padding:10px;
            }
            h4{
              
              font-family: Raleway,sans-serif;
                text-align:center;
                color:#dbdada;
            }
            h3{
              
              font-family: Raleway,sans-serif;
                text-align:center;
                color:#e15421;
                font-weight:700;
                padding:5px
            }
            button{
                width:40px;
                background:#1c1815;
                color:white;
                font-weight:bold;
                height:22px;
                margin-left:40px;
                margin-right:1px;  
                border:none;
                outline:none;
                border-radius:40px; 
            }
            .btn{
                width:80px;
                background:#1c1815;
                color:white;
                font-weight:bold;
                height:40px; 
                border:none;
                outline:none;
                border-radius:100px; 
            }
            hr{
                margin-top: 5px;
                margin-bottom: 10px;
                border-style: dotted;
                color: #c8c8c8;
                border-block-start-style: unset;
            }
            .time-heading{
              
              font-family: Quicksand,sans-serif;
                text-align:center;
                padding-right:0px;
                padding-left:0px;
                padding-top:53px;
                font-size:2.6rem;
                color:#40a9ff;
            }
            .left{
                text-align:center;
                padding-right:0px;
                padding-left:0px;
                padding-top:53px;
                font-size:2.6rem;
                color:#40a9ff;
            }
            .seperator{
                padding-top:55px;
                font-size:2rem;
                color:#40a9ff;
            }
            #blurCanvasTop{
              left:0%;
              top:0%;
              position:absolute;
            }
            #blurCanvasBottom{
              left:50%;
              top:0;
              position:absolute;
            }
            
            .blur {
              width:100%;
              height:100%;
              position:absolute;
              overflow:hidden;
            }
            .blurTop{
              left:40%;
              top:-110%;
              transform:rotate(20deg);
              transform-origin: 0 100%;
            }
            .blurBottom{
              left:-60%;
              top:100%;
              transform:rotate(20deg);
              transform-origin: 100% 0%;
            }
            