*{
                padding:0px;
                margin:0px;
                font-family: 'Quicksand' , sans-serif;
            }
            body{
                background:rgba(19,27,49,255);
                padding:20px;
            }
            header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 30px 10%;
              background-color: #24252a;
            }
            
            .logo {
              width: 90px;
              cursor: pointer;
            }
            
            body {
              color: black;
              background-color: white;
              margin: 0;
              padding: 0;
              font-family: 'Quicksand', sans-serif;
            }
            
            body::-webkit-scrollbar {
              width: 0.50rem;
            }
            
            body::-webkit-scrollbar-track {
              background: #1e1e24;
            }
            
            body::-webkit-scrollbar-thumb {
              background: #6649b8;
            }
            h2{
               font-size: 60px;
            }
            .navbar{
              width: 85%;
              margin:auto;
              padding: 35px 0 ;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            .banner{
              background-color: #1e1e24;
            }
            .logo{
              width: 120px;
              cursor: pointer;
            }
            .navbar ul li{
              list-style: none;
              display: inline-block;
              margin: 0 40px;
              position: relative;
              margin-top: 30px;
            }
            .navbar ul li a{
              text-decoration: none;
              color: #fff;
              text-transform:capitalize;
          
            }
            .navbar ul li::after{
              content: " ";
              height: 3px;
              width: 0%;
              background:#009688;
              position: absolute;
              left: 0;
              bottom: -10px;
              transition:0.5s;
            }
            .navbar ul li:hover::after{
              width:100%;
            }
            .container{
                padding:20px;
                width:460px;
                height:460px;
                margin: auto auto;
                margin-top: 100px;
                background: rgba(255, 255, 255, 0.16);
                box-shadow: 0 0 19px 0 rgba(113, 111, 111, 0.7);
                border-radius: 16px;
                backdrop-filter: blur(2.7px);
                -webkit-backdrop-filter: blur(2.7px);
                border: 1px solid rgb(36, 33, 33);
            }
            .top-container{
                width:200px;
                height:180px;
                background:white;
                margin: auto auto;
                background:#636361;
                padding-top:10px;
                border-radius: 30px;
            }
            .top-inner-container{
                width:180px;
                height:170px;
                background:white;
                margin: auto auto;
                border-radius: 30px;
            }
            h1{
                color:#dadadb;
                text-align:center;
                padding:20px;
            }
            .time-container{
                display:flex;
                flex-wrap:no-wrap;
                flex-direction:row;
                justify-content:center;
                width:100%;
            }
            .session-time-container{
                width:100%;
                height:80px;
                padding:10px;
            }
            h4{
                text-align:center;
                color:#dadadb;
            }
            h3{
                text-align:center;
                color:#029ead;
                font-weight:700;
                padding:5px
            }
            button{
                width:40px;
                background:#1c1815;
                color:white;
                font-weight:bold;
                height:22px;
                margin-left:40px;
                margin-right:1px;  
                border:none;
                outline:none;
                border-radius:40px; 
            }
            .btn{
                width:80px;
                background:#1c1815;
                color:white;
                font-weight:bold;
                height:40px; 
                border:none;
                outline:none;
                border-radius:100px; 
            }
            hr{
                margin-top: 5px;
                margin-bottom: 10px;
                border-style: dotted;
                color: #c8c8c8;
                border-block-start-style: unset;
            }
            .time-heading{
                text-align:center;
                padding-right:0px;
                padding-left:0px;
                padding-top:53px;
                font-size:2.6rem;
                color:#40a9ff;
            }
            .left{
                text-align:center;
                padding-right:0px;
                padding-left:0px;
                padding-top:53px;
                font-size:2.6rem;
                color:#40a9ff;
            }
            .seperator{
                padding-top:55px;
                font-size:2rem;
                color:#40a9ff;
            }
            